.App {
  text-align: center;
}
.btntrue{
  display:block;
}
.fc-time{
  display:none;
}
.btnfalse{
  display:none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.viewBtn{
  background-color: #5d5a8c !important;
}
.collection-item{
 background-color: #c5c2c3 !important;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 2px solid #6f2e2e !important;
}
.red{
  background-color: #47438a !important;
}
.title{
  float:left;
  font-weight: bolder;
  margin:9px;
}
.modal-content{
  background-color: #e6dfdf;
}
.modal-content h4{
  background-color: #47438a;
    color: #d6cece;
    padding: 10px;
    font-size: 27px;
}
.modal-content p{
  font-size:15px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.demo-app-calendar{
  max-height: 100px;
}
.btn{
  float:right !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
